#shop-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.products-container{
    display: grid;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr; /* 3 column grid. Each takes up 1/3 of 80% of the screen */
    column-gap: 18px;
    row-gap: 32px;
}

.product-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border: 2px solid black;
    padding: 16px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: 0.2s;
}

.product-item:hover{
    scale: 1.05;
}

.product-title{
    max-width: 300px;
    text-overflow: ellipsis; /* Overflow is "..." isntead of wrapping to next line. */
    overflow: hidden;
    white-space: nowrap;
    font-size: 18px;
}

.product-img{
    width: 150px;
    height: 150px;
}

.add-to-cart-btn{
    width: 40%;
    font-size: 16px;
    border: 0px;
    border-radius: 12px;
    padding: 8px;
    background: #3498db;
    color: #ffffff;
    transition: 100ms;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.add-to-cart-btn:hover {
    background: #2980b9;
    color: #ffffff;
}
